<%= form_for(author) do |f| %>
<div class="col-xs-12">
  <div class="panel panel-success">
    <div class="panel-heading"><%= section_title("Author Information")%></div>
    <div class="panel-body">
      <% if (author.errors.any?) %>
        <div id="error_explanation">
          <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>
          <ul>
          <% author.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :birthdate %>
        <%= f.date_select :birthdate, class: "form-control", start_year: 1900, end_year: Date.today.year %>
      </div>

    </div>
    <div class="panel-footer text-right">
      <%= save_button %> |
      <% if (author.id.nil?) %>
        <%= cancel_button(authors_path) %>
      <% else %>
        <%= cancel_button(author_path(author)) %>
      <% end %>
    </div>
  </div>
</div>
<% end %>