<% content_for :breadcrumb do %>
  <h2 class="col-xs-12"><%= authors_home_link %> > <%= link_to(@author.author_name, @author) %> > Edit</h2>
<% end %>

<% content_for :main do %>
  <div class="row"> 
    <%= render 'form', author: @author %>
  </div>
<% end %>