<% content_for :breadcrumb do %>
  <h2 class="col-xs-12"><%= authors_home_link %> | Authors</h2>
<% end %>

<% content_for :main do %>
  <div class="row">
    <div class="col-xs-12">
      <%= render '/shared/panel', title: 'Our Authors', class_name: 'panel-success', big_title: true do %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Birthdate</th>
              <th>Some of my Books</th>
            </tr>
          </thead>

          <tbody>
          <% @authors.each do |author| %>
            <tr>
              <td><%= link_to(author.author_name, author) %></td>
              <td><%= author.birthdate %></td>
              <td>
                <ul class="no-margin">
                <% author.sample_books.each do |book| %>
                  <li><%= link_to(book.title, book) %></li>
                <% end %>
                </ul>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
<% end %>

<% content_for :sidebar do %>
  <div class="row">
    <%= render '/shared/panel', title: 'Controls', class_name: 'panel-info', big_title: false do %>
      <%= create_icon_link_to(new_author_path) %>
    <% end %>
  </div>
<% end %>