<% content_for :breadcrumb do %>
  <h2 class="col-xs-12"><%= authors_home_link %> > New</h2>
<% end %>

<% content_for :main do %>
  <div class="row">
    <%= render 'form', author: @author %>
  </div>
<% end %>