<% content_for :breadcrumb do %>
  <h2 class="col-xs-12"><%= authors_home_link %> > <%= @author.author_name %></h2>
<% end %>

<% content_for :main do %>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-success">
        <div class="panel-heading"><%= section_title("My Details") %></div>
        <div class="panel-body">
          <p>
            <strong>First name:</strong>
            <%= @author.first_name %>
          </p>

          <p>
            <strong>Last name:</strong>
            <%= @author.last_name %>
          </p>

          <p>
            <strong>Birthdate:</strong>
            <%= @author.birthdate %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= render '/shared/panel', title: 'My Books', class_name: 'panel-info', big_title: true do %>
        <%= render '/shared/books_table', book_list: @author.sort_books %>
      <% end %>
    </div>   
  </div>

<% end %>

<% content_for :sidebar do %>
  <div class="row">
    <%= render '/shared/panel', title: 'Controls', class_name: 'panel-info', big_title: false do %>
      <%= edit_icon_link_to(edit_author_path(@author)) %> | 
      <%= delete_icon_link_to(@author) %>
    <% end %>
  </div>
<% end %>