<%= form_for(publisher_house) do |f| %>
<div class="col-xs-12">
  <div class="panel panel-success">
    <div class="panel-heading"><%= section_title("Publisher House Information")%></div>
    <div class="panel-body">
      <% if (publisher_house.errors.any?) %>
        <div id="error_explanation">
          <h2><%= pluralize(publisher_house.errors.count, "error") %> prohibited this publisher_house from being saved:</h2>
          <ul>
          <% publisher_house.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="panel-footer text-right">
      <%= save_button %> |
      <% if (publisher_house.id.nil?) %>
        <%= cancel_button(publisher_houses_path) %>
      <% else %>
        <%= cancel_button(publisher_house_path(publisher_house)) %>
      <% end %>
    </div>
  </div>
</div>
<% end %>