<% content_for :breadcrumb do %>
  <h2 class="col-xs-12"><%= publisher_home_link %> > <%= link_to(@publisher_house.name, publisher_house_path(@publisher_house)) %> > Edit</h2>
<% end %>

<% content_for :main do %>
  <div class="row">
    <%= render 'form', publisher_house: @publisher_house %>
  </div>
<% end %>