<% content_for :breadcrumb do %>
  <h2 class="col-xs-12"><%= publisher_home_link %> | Publisher Houses</h2>  
<% end %>

<% content_for :main do %>
  <div class="row">
    <div class="col-xs-12">
      <%= render '/shared/panel', title: 'Our Partners', class_name: 'panel-success', big_title: true do %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <% @publisher_houses.each do |publisher_house| %>
              <tr>
                <td class="col-xs-12"><%= link_to(publisher_house.name, publisher_house) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
<% end %>

<% content_for :sidebar do %>
  <div class="row">
    <%= render '/shared/panel', title: 'Controls', class_name: 'panel-info', big_title: false do %>
      <%= create_icon_link_to(new_publisher_house_path) %>
    <% end %>
  </div>
<% end %>