<% content_for :breadcrumb do %>
  <h2 class="col-xs-12"><%= publisher_home_link %> > <%= @publisher_house.name %></h2>
<% end %>

<% content_for :main do %>
  <div class="row">
    <div class="col-xs-12">
      <%= render '/shared/panel', title: 'Our Books', class_name: 'panel-success', big_title: true do %>
        <%= render '/shared/books_table', book_list: @publisher_house.sort_books %>
      <% end %>
    </div>   
  </div>
<% end %>

<% content_for :sidebar do %>
  <div class="row">
    <%= render '/shared/panel', title: 'Controls', class_name: 'panel-info', big_title: false do %>
      <%= edit_icon_link_to(edit_publisher_house_path(@publisher_house)) %> | 
      <%= delete_icon_link_to(@publisher_house) %>
    <% end %>
  </div>
<% end %>