<%= form_for(book) do |f| %>
<div class="col-xs-12">
  <div class="panel panel-success">
    <div class="panel-heading"><%= section_title("Book Information")%></div>
    <div class="panel-body">
      <% if (book.errors.any?) %>
        <div id="error_explanation">
          <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>
          <ul>
          <% book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :publisher_house %>
        <%= f.collection_select :publisher_house_id, @houses, :id, :name %>
      </div>

      <div class="form-group">
        <%= f.label :pages %>
        <%= f.number_field :pages, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :cover %>
        <%= f.text_field :cover, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :published_at %>
        <%= f.date_select :published_at, class: "form-control", start_year: 1900, end_year: Date.today.year %>
      </div>

    </div>
    <div class="panel-footer text-right">
      <%= save_button %> |
      <% if (book.id.nil?) %>
        <%= cancel_button(books_path) %>
      <% else %>
        <%= cancel_button(book_path(book)) %>
      <% end %>
    </div>
  </div>
</div>
<% end %>