<% content_for :breadcrumb do %>
  <h2 class="col-xs-12"><%= books_home_link %> > <%= link_to(@book.title, @book) %> > Edit</h2>
<% end %>

<% content_for :main do %>
  <div class="row"> 
    <%= render 'form', book: @book %>
  </div>
<% end %>