<% content_for :breadcrumb do %>
  <h2 class="col-xs-12"><%= books_home_link %> | Books</h2>
<% end %>

<% content_for :main do %>
  <div class="row">
    <div class="col-xs-12">
      <%= render '/shared/panel', title: 'Our Books', class_name: 'panel-success', big_title: true do %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-xs-1"></th>
              <th>Title</th>
              <th>Publisher House</th>
              <th>Authors</th>
            </tr>
          </thead>

          <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><img src="<%= book.cover %>" class="img-responsive"></td>
              <td><%= link_to(book.title, book) %></td>
              <td><%= link_to(book.publisher_house.name, book.publisher_house) %><br><%= book.published_at%></td>
              <td>
                <ul class="no-margin">
                <% book.sort_authors.each do |author| %>
                  <li><%= link_to(author.author_name, author) %></li>
                <% end %>
                </ul>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
    </div> 
  </div>
<% end %>

<% content_for :sidebar do %>
  <div class="row">
    <%= render '/shared/panel', title: 'Controls', class_name: 'panel-info', big_title: false do %>
      <%= create_icon_link_to(new_book_path) %>
    <% end %>
  </div>
<% end %>