<% content_for :breadcrumb do %>
  <h2 class="col-xs-12"><%= books_home_link %> > <%= @book.title %></h2>
<% end %>

<% content_for :main do %>
  <div class="row">
    <div class="col-xs-12">
      <%= render '/shared/panel', title: 'My Details', class_name: 'panel-success', big_title: true do %>
        <div class="row">
          <div class="col-xs-3">
            <img src="<%= @book.cover %>" class="img-responsive">
          </div>
          <div class="col-xs-9">
            <h4><strong><%= @book.title %></strong></h4>
            <p>
              <strong>Publisher House:</strong>
              <%= link_to(@book.publisher_house.name, @book.publisher_house) %>
            </p>

            <p>
              <strong>Published at:</strong>
              <%= @book.published_at %>
            </p>

            <p>
              <strong>Pages:</strong>
              <%= @book.pages %>
            </p>

          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= render '/shared/panel', title: 'My Authors', class_name: 'panel-info', big_title: true do %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Birthdate</th>
              <th>Remove Author?</th>
            </tr>
          </thead>

          <tbody>
          <% @book.authors.each do |author| %>
            <tr>
              <td><%= link_to(author.author_name, author) %></td>
              <td><%= author.birthdate %></td>
              <td>
                <%= form_tag(collaboration_path, method: :delete) do %>
                  <%= hidden_field(:collaboration, :book_id, value: @book.id)%>
                  <%= hidden_field(:collaboration, :author_id, value: author.id)%>
                  <button type="submit" class="btn btn-danger btn-sm">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <div class="col-xs-12">
          <h4>Add a new Author</h4>
          <div>
          <%= form_tag(collaboration_path, method: :post) do %>
            <%= hidden_field(:collaboration, :book_id, value: @book.id)%>
            <%= collection_select(:collaboration, :author_id, @authors, :id, :author_name, prompt: false)%>
            <button type="submit" class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% content_for :sidebar do %>
  <div class="row">
    <%= render '/shared/panel', title: 'Controls', class_name: 'panel-info', big_title: false do %>
      <%= edit_icon_link_to(edit_book_path(@book)) %> | 
      <%= delete_icon_link_to(@book) %>
    <% end %>
  </div>
<% end %>