/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.no-margin {
  margin: 0;
}

a {
  text-decoration: underline;
  color: blue;
}

h2, h3 {
  font-family: 'Courgette', cursive;
}

h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
  color: #46b8da;
  margin-top: 0;
}

h3 {
  margin: 0;
}

.panel {
  p {
    margin-left: 0;
    font-size: 14px;
  }
}
