<% if (book_list.any?) %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-xs-1"></th>
        <th>Name</th>
        <th>Authors</th>
        <th>Pages</th>
      </tr>
    </thead>
    <tbody>
      <% book_list.each do |book| %>
        <tr>
          <td><img src="<%= book.cover %>" class="img-responsive"></td>
          <td><%= link_to(book.title, book) %></td>
          <td>
            <ul class="no-margin">
            <% book.sort_authors.each do |author| %>
              <li><%= link_to(author.author_name, author) %></li>
            <% end %>
            </ul>
          </td>
          <td><%= book.pages %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No books here</p>
<% end %>