<div class="panel <%= class_name %>">
  <% if (big_title) %>
    <div class="panel-heading"><%= section_title(title) %></div>
  <% else %>
    <div class="panel-heading"><%= title %></div>
  <% end %>
  <div class="panel-body">
    <%= yield %>
  </div>
</div>