<table class="table table-striped">
  <tbody>
    <% data_set.each do |element| %>
      <tr>
        <td><%= link_to(element.search_name, element) %></td>
      </tr>
    <% end %>
  </tbody>
</table>