<% content_for :breadcrumb do %>
  <h2 class="col-xs-12">Results for: <%= params[:term] %></h2>
<% end %>

<% content_for :main do %>
  <% if (@houses.any?) %>
  <div class="row">
    <div class="col-xs-12">
      <%= render '/shared/panel', title: "Publisher Houses", class_name: 'panel-info', big_title: true do %>
        <%= render '/shared/simple_table', data_set: @houses %>
      <% end %>
    </div>
  </div>
  <% end %>

  <% if (@authors.any?) %>
  <div class="row">
    <div class="col-xs-12">
      <%= render '/shared/panel', title: "Authors", class_name: 'panel-info', big_title: true do %>
        <%= render '/shared/simple_table', data_set: @authors %>
      <% end %>
    </div>
  </div>
  <% end %>

  <% if (@books.any?) %>
  <div class="row">
    <div class="col-xs-12">
      <%= render '/shared/panel', title: "Books", class_name: 'panel-info', big_title: true do %>
        <%= render '/shared/simple_table', data_set: @books %>
      <% end %>
    </div>
  </div>
  <% end %>
<% end %>